[submodule "external/SPIRV-Cross"]
	path = external/SPIRV-Cross
	url = git@github.com:Gabriele91/SPIRV-Cross.git
	branch = fix/macos-compilation
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/Gabriele91/glslang-fix/
	branch = fix/macos-compilation
